<li class="project-card">
  <h2>
    <a class="project-link"
      href="{{ include.project.url }}">{{ include.project.name }}</a>
  </h2>
  <p class="description">{{ include.project.description }}</p>
  <p class="authors">Made by {{ include.project.authors | join: ', ' }}</p>
  <div>
    <a href="{{ include.project.github_url }}">
      <span class="icon octicon octicon-mark-github"></span>
    </a>
    <a href="{{ include.project.url }}">
      <span class="icon octicon octicon-globe"></span>
    </a>
  </div>
</li>
