/**
 * Site header
 */
.site-header {
  background-color: $hackclub-red;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.site-nav-link {
  float: left;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  line-height: 56px;
  text-align: center;
  color: white;

  &:hover {
    color: white;
    background-color: #d15256;
    text-decoration: none;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.project-card {
  background: #fff;
  border-radius: 0.15em;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(0, 0, 0, 0.04);
  padding: 15px 20px 12.5px 20px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  margin: 0 0 1em;
}

.project-link {
  display: block;
  font-size: 24px;
}

.authors {
  color: $grey-color;
  font-size: 14px;
}

/**
 *Awesome guide to how this works: http://css-tricks.com/guide-responsive-friendly-css-columns/ 
 */
.project-list {
  -moz-column-gap: $spacing-unit;
  -webkit-column-gap: $spacing-unit;
  column-gap: $spacing-unit;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}

@media (min-height: 600px) {
  .project-list {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
